<div id="container">
    <div id="fotos" class="bananas" >
        <div id="human-health-text">Human</div>
        <div id="human-health">
            <div id="human-health-bar"></div>
        </div>
        <div id="mosquito-health-text">Mosquito</div>
        <div id="mosquito-health">
            <div id="mosquito-health-bar"></div>
        </div>    
        <img id="human" src="../assets/img/human.png"/>
        <img id="imgdisplay2" name="animate" src="../assets/img/1.gif"/>  
        <img id="abc1" src="../assets/img/13.gif" style="display:none"/>   
    </div>
    <div id="inventory">
        <img id="abc" src="../assets/img/10.gif"/>
    </div>
</div>


