<div id="container">
    <div id="scene">
        <div id="human-health-text">Human</div>
        <div id="human-health">
            <div id="human-health-bar"></div>
        </div>
        <div id="mosquito-health-text">Mosquito</div>
        <div id="mosquito-health">
            <div id="mosquito-health-bar"></div>
        </div>    
        <img id="human" src="../assets/img/human.png"/>
        <img id="moz" name="animate" src="../assets/img/1.gif"/>  
        <img id="spray" src="../assets/img/13.gif" style="display:none"/>   
    </div>
    <div id="inventory">
        <div id="inventory-heading">Inventory</div>
        <img id="spray-item" src="../assets/img/10.gif"/>
    </div>
</div>


