@import "../styles/main";

.pc-policy-body {
  h1 {
    padding: $padding-large;
    font-weight: $bold;
  }
}

.mail-policy-image {
  max-width: 20%;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius; 
    border-radius: $radius; 
}

.arrow {
    width: 75px;
    line-height: 75px;
    text-align: center;
    opacity: 1;
    border: none;
    color: $white;
    @include border-radius(50%);
}

.arrow-red {
    @extend .arrow;
    background: $red;
}

.arrow-green {
    @extend .arrow;
    background: green;    
}
