@import "../styles/main";

img {
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.image-table {
    border: 0;
    text-align: center;
    width: 80%;
    height: auto;
}

.image-table td {
    border: 1px solid #fff;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 1px #999;
    box-shadow: 0 0 1px #999;
}

